In [1]:
import boto3

import pandas as pd

from io import StringIO

# immigrations_table

In [5]:
# Read the CSV file into a DataFrame
immigrations_table = pd.read_csv(r'C:\Users\AL-FAJR\Desktop\spark_project\fils\immigrations_table.csv\immigrations_table.csv')

In [6]:
immigrations_table

      cic_id port arrive_state  arrive_month
0    1195600  OGG           FL             4
1    1387607  BOS           MA             4
2    4299497  NYC           NY             4
3    2522724  NEW           NY             4
4     267021  BOS           MA             4
..       ...  ...          ...           ...
899  1776348  DAL           TX             4
900  5660225  NEW           NY             4
901  3300843  NEW           NJ             4
902   813390  PHO           NC             4
903  1560415  CHI           IL             4

[904 rows x 4 columns]

In [36]:
# Reset the index if needed (optional)
immigrations_table.reset_index(inplace=True)

# Generate the SQL schema
schema = pd.io.sql.get_schema(immigrations_table, 'immigrations_table')

# Print the generated SQL schema
print(schema)

CREATE TABLE "immigrations_table" (
"index" INTEGER,
  "cic_id" INTEGER,
  "birth_year" INTEGER,
  "age" INTEGER,
  "gender" TEXT,
  "airline" TEXT,
  "flight_num" TEXT,
  "visa_type" TEXT,
  "visa_class" TEXT,
  "visa_issue_state" TEXT,
  "mode" TEXT,
  "citizen_country_name" TEXT,
  "resident_country_name" TEXT
)

# immigrants_table

In [15]:
# Read the CSV file into a DataFrame
immigrants_table = pd.read_csv(r'C:\Users\AL-FAJR\Desktop\spark_project\fils\immigrants_table.csv\immigrants_table.csv')

In [16]:
# Reset the index if needed (optional)
immigrants_table.reset_index(inplace=True)

# Generate the SQL schema
schema = pd.io.sql.get_schema(immigrants_table, 'immigrants_table')

# Print the generated SQL schema
print(schema)

CREATE TABLE "immigrants_table" (
"index" INTEGER,
  "cic_id" INTEGER,
  "birth_year" INTEGER,
  "age" INTEGER,
  "gender" TEXT,
  "airline" TEXT,
  "flight_num" TEXT,
  "visa_type" TEXT,
  "visa_class" TEXT,
  "visa_issue_state" TEXT,
  "mode" TEXT,
  "citizen_country_name" TEXT,
  "resident_country_name" TEXT
)

# demographics_table

In [19]:
# Read the CSV file into a DataFrame
demographics_table = pd.read_csv(r'C:\Users\AL-FAJR\Desktop\spark_project\fils\demographics_table.csv\demographics_table.csv')

In [20]:
# Reset the index if needed (optional)
demographics_table.reset_index(inplace=True)

# Generate the SQL schema
schema = pd.io.sql.get_schema(demographics_table, 'demographics_table')

# Print the generated SQL schema
print(schema)

CREATE TABLE "demographics_table" (
"index" INTEGER,
  "state_code" TEXT,
  "state" TEXT,
  "median_age" INTEGER,
  "male_population" INTEGER,
  "female_population" INTEGER,
  "total_population" INTEGER,
  "veterans_num" REAL,
  "foreign_born_population" REAL,
  "avg_household_size" REAL,
  "american_indian_alaska_native" INTEGER,
  "asian" INTEGER,
  "african_american" INTEGER,
  "hispanic_latino" INTEGER,
  "white" INTEGER
)

# airports_table

In [22]:
# Read the CSV file into a DataFrame
airports_table = pd.read_csv(r'C:\Users\AL-FAJR\Desktop\spark_project\fils\airports_table.csv\airports_table.csv')

In [24]:
# Reset the index if needed (optional)
airports_table.reset_index(inplace=True)

# Generate the SQL schema
schema = pd.io.sql.get_schema(airports_table, 'airports_table')

# Print the generated SQL schema
print(schema)

CREATE TABLE "airports_table" (
"level_0" INTEGER,
  "index" INTEGER,
  "iata_code" TEXT,
  "name" TEXT,
  "type" TEXT,
  "state" TEXT,
  "elevation_ft" INTEGER,
  "latitude" REAL,
  "longitude" REAL
)

# Load to S3

# In the specific code example you provided, the access key ID and secret access key are used to authenticate your script when uploading a CSV file to an S3 bucket. The access key credentials should have the necessary permissions (defined in their associated IAM policies) to read from the immigrations_table DataFrame and write data to the specified S3 bucket.

In [18]:
import pandas as pd
import boto3
from io import StringIO

# Define your S3 bucket and CSV data
bucket = 'spark-project-1'  # Replace with your S3 bucket name

# AWS credentials setup
aws_access_key_id = ''
aws_secret_access_key = ''
# Create an S3 resource and upload the CSV data
s3_resource = boto3.resource(
    's3',
    aws_access_key_id=aws_access_key_id,
    aws_secret_access_key=aws_secret_access_key
  
)


# Use StringIO to create an in-memory text stream for the CSV data
csv_buffer = StringIO()
immigrations_table.to_csv(csv_buffer, index=False) 

s3_resource.Object(bucket, 'output/immigrations_table.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'KRN17N3B4B9E8SM9',
  'HostId': 'SVYZqHLbaA2Uv+/aMqoxqNsVafp+M1JSk0HLZxqYYme5ouyyUnaquafLz0s43FydC5c+bvga39M=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'SVYZqHLbaA2Uv+/aMqoxqNsVafp+M1JSk0HLZxqYYme5ouyyUnaquafLz0s43FydC5c+bvga39M=',
   'x-amz-request-id': 'KRN17N3B4B9E8SM9',
   'date': 'Tue, 26 Sep 2023 05:21:42 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"54d208644ff58c72215db51764ca1c50"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 1},
 'ETag': '"54d208644ff58c72215db51764ca1c50"',
 'ServerSideEncryption': 'AES256'}

In [17]:
import pandas as pd
import boto3
from io import StringIO

# Define your S3 bucket and CSV data
bucket = 'spark-project-1'  # Replace with your S3 bucket name

# AWS credentials setup
aws_access_key_id = ''
aws_secret_access_key = ''
# Create an S3 resource and upload the CSV data
s3_resource = boto3.resource(
    's3',
    aws_access_key_id=aws_access_key_id,
    aws_secret_access_key=aws_secret_access_key
  
)
# Use StringIO to create an in-memory text stream for the CSV data
csv_buffer = StringIO()
immigrants_table.to_csv(csv_buffer, index=False) 

s3_resource.Object(bucket, 'output/immigrants_table.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'Y8ZS2QQJYSAN065W',
  'HostId': '3DXCqqyzMLNj5cwG3tA9vO1OHYNJZdu2LsO/4xCQL15KkN1t4T8vpjrL6W70SGR6PXRwkigQYwE=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': '3DXCqqyzMLNj5cwG3tA9vO1OHYNJZdu2LsO/4xCQL15KkN1t4T8vpjrL6W70SGR6PXRwkigQYwE=',
   'x-amz-request-id': 'Y8ZS2QQJYSAN065W',
   'date': 'Tue, 26 Sep 2023 05:20:08 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"d2713c9f2547ae45a1d00c32c8e023d9"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 1},
 'ETag': '"d2713c9f2547ae45a1d00c32c8e023d9"',
 'ServerSideEncryption': 'AES256'}

In [21]:
import pandas as pd
import boto3
from io import StringIO

# Define your S3 bucket and CSV data
bucket = 'spark-project-1'  # Replace with your S3 bucket name

# AWS credentials setup
aws_access_key_id = ''
aws_secret_access_key = ''
# Create an S3 resource and upload the CSV data
s3_resource = boto3.resource(
    's3',
    aws_access_key_id=aws_access_key_id,
    aws_secret_access_key=aws_secret_access_key
  
)
# Use StringIO to create an in-memory text stream for the CSV data
csv_buffer = StringIO()
demographics_table.to_csv(csv_buffer, index=False) 

s3_resource.Object(bucket, 'output/demographics_table.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '80QG81KMP6KSCK1N',
  'HostId': 'CTvXWYvWWAgkn2lFTNSLiBMB4iFqWAPVvDT1dUJbQm7oQMSdiWE4+Qsncm8MupNVnNMIrg9LTM7VTLKqNW4XHA==',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'CTvXWYvWWAgkn2lFTNSLiBMB4iFqWAPVvDT1dUJbQm7oQMSdiWE4+Qsncm8MupNVnNMIrg9LTM7VTLKqNW4XHA==',
   'x-amz-request-id': '80QG81KMP6KSCK1N',
   'date': 'Tue, 26 Sep 2023 05:24:35 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"734c5d6ba79b2f973a51a589a4847c8f"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 1},
 'ETag': '"734c5d6ba79b2f973a51a589a4847c8f"',
 'ServerSideEncryption': 'AES256'}

In [25]:
import pandas as pd
import boto3
from io import StringIO

# Define your S3 bucket and CSV data
bucket = 'spark-project-1'  # Replace with your S3 bucket name

# AWS credentials setup
aws_access_key_id = ''
aws_secret_access_key = 
# Create an S3 resource and upload the CSV data
s3_resource = boto3.resource(
    's3',
    aws_access_key_id=aws_access_key_id,
    aws_secret_access_key=aws_secret_access_key
  
)
# Use StringIO to create an in-memory text stream for the CSV data
csv_buffer = StringIO()
airports_table.to_csv(csv_buffer, index=False) 

s3_resource.Object(bucket, 'output/airports_table.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '0CXBARCKNNB1ANC5',
  'HostId': 'AvKcK1nvnr5m5H300h9LFsF3cxkwpenuyIouDlJRkMCxmKO8nvtzrsMLxjvoYLyTYcOvvmKjNvgjawK7SyB+8g==',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'AvKcK1nvnr5m5H300h9LFsF3cxkwpenuyIouDlJRkMCxmKO8nvtzrsMLxjvoYLyTYcOvvmKjNvgjawK7SyB+8g==',
   'x-amz-request-id': '0CXBARCKNNB1ANC5',
   'date': 'Tue, 26 Sep 2023 05:27:26 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"fa15bb7b0aabc2ca065c6f138b629628"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 1},
 'ETag': '"fa15bb7b0aabc2ca065c6f138b629628"',
 'ServerSideEncryption': 'AES256'}